 div{
            background-color: purple;
            width: 200px;
            padding: 10px;
            border-left:5px solid green;
        }
        div h1{
            color: white;
            font-size: 20px;
        }
/* Your CSS Code here. */